/*nuestros servicios*/

.services-list{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; 
}
.contenedor-servicios{
padding-bottom: 30px;
background: linear-gradient(to right, #b9b3d0, #7bb5bf);
padding-top: 50px;
padding-bottom: 60px;
}

.contenedor-servicios h2{
font-size: 55px;
margin-top: 70px;
text-align: center;
}

.services-list a {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.services-list a:hover {
  background-color: #ddd;
}

@media (max-width: 600px) {
  .contenedor-servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    margin-top: 80px;
    padding-bottom: 40px;
  }
  .services-list{
    width: 60%;
  }
  .services-list a {
      width: 100%;
  }
  .contenedor-servicios h2{
    font-size: 35px;
    margin: 0px;
  }
}

